.site-header{
    padding: 44px 0;
}

.site-header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.site-header__list{
    display: flex;
  max-width: 290px;
  width: 290px;
}
.site-header__item + .site-header__item{
    margin-left: 33px;
}
.site-header__link{
    font-family: 'Barlow';
font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 1px;
text-transform: uppercase;
color: #83888F;
}

.site-header__menu{
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(../../img/menu.svg);
    background-position: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: none;
}

@media screen and (max-width:735px) {
    .site-header__list{
        display: none
    }
    .site-header__menu{
        display: inline-block;
    }
    .site-header-logo__link{
        display: inline-block;
        max-width: 163px;
    }
}

@media screen and (max-width:536px) {
    .site-header{
        padding: 40px 0;
    }
}